In [1]:
import pandas as pd
import numpy as np

In [3]:
per=pd.read_csv("https://github.com/pablolopez2733/9plus6/raw/master/ValueClusters/playerPER.txt")
per.head()

   Rank         Player    PER
0   1.0   LeBron James  27.52
1   2.0  Anthony Davis  27.50
2   3.0   Kevin Durant  25.20
3   4.0     Chris Paul  25.10
4   5.0   James Harden  24.75

In [5]:
value = pd.read_csv("https://github.com/pablolopez2733/9plus6/raw/master/ValueClusters/playerValue.txt")
value.head()

  Unnamed: 0                   Unnamed: 1  Unnamed: 2
0         Rk                       Player  Guaranteed
1          1      Stephen Curry\curryst01  $129019086
2          2          Chris Paul\paulch01   $79865296
3          3  Russell Westbrook\westbru01  $123032000
4          4           John Wall\walljo01  $122472000